<%- include('partials/header') %>

      <div class="jumbotron w-75 mx-auto shadow mt-5 border">

          <h2 class="m-5 display-5" >Supplier Name : <%= supp.name %></h2>
          <h4 class="m-5 display-5">Mobile Number : <%= supp.phone %></h4>
          <h4 class="m-5 display-5" >Address : <%= supp.address %></h4>

        </div>

      

  
  
   